

  
 

  

.letter-space {
    letter-spacing : 3px;
    fontFamily : '"Roboto", serif';
    
    marginLeft : "250px" ;
    marginTop : "60px"
}



.card{
    width  : 400px;
    height : 450px;
    min-height: 100px;
    margin: 2%;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
}





